body {
  font-family: sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

header {
  background-color: dodgerblue;
  color: white;
  padding: 20px;
  margin-bottom: 60px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: dodgerblue;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}

table th,
td {
  border: 1px solid lightgray;
  padding: 18px;
  line-height: 1.5;
}

table th {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 16px;
}

ol,
ul {
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 30px;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}

footer {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 16px;
}
